<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <label><h3><b><em>Search the ideas: </em></b></h3></label>
        </div>
        <div class="form-group" id="idea-searcher">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="container">
    <%= form_for :link, url: links_path do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit "Create Link", class: "btn btn-default" %>
     <% end %>
  </div>
  <div class="filter-buttons">
    <button type="button" name="read-link" class="btn btn-default" id='read-status-button'>Show Read/Unread Links</button>
    <button type="button" name="aplha" class="btn btn-default" id="alpha-title-sort">Sort Titles Alphabetically</button>
    <button type="button" name="aplha" class="btn btn-default" id="alpha-url-sort">Sort Urls Alphabetically</button>
  </div>
</div>

<div class="links-index">

</div>
<div class="sort-status">

</div>
